@font-face{
  font-family: IntroRustG;
  src: url("../fonts/IntroRustG-Base2Line.otf");
}

@font-face{
  font-family: Intro;
  src: url("../fonts/Intro.otf");
}

@font-face{
  font-family: PlayfairDisplayRegular;
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face{
  font-family: MinionProRegular;
  src: url("../fonts/MinionPro-Regular.otf");
}
